* {
    box-sizing: border-box;
    background-color:black;
    font-family: 'Times New Roman', Times, serif, 微軟正黑體;
    color: white;
}

header {
    width: 100%;
    height: 5rem;
    margin: -0.5rem 0rem 2rem 0rem;
    background-color: rgb(7, 7, 153);
    clip-path: polygon(0% 80%, 50% 100%, 100% 80%, 100% 0%, 0% 0%);
    text-align: center;
    font-size: 2rem
}



p {
    position: relative;
    margin: 5rem auto;
    width: 80%;
    background-color: grey;
    font-size:15rem;
}

figure {
    display: flex;
    justify-content: center;
    width: 60rem;
    height: 40rem;
    background-color: black;
    margin: auto;
}

img {
    height: 80%;
}

.grid {
    display: grid;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 9rem;
    background-color:blueviolet;
    border-radius: 4.5rem;
    margin:auto;
    font-size: 3rem;
    font-weight: bolder;
    text-shadow: 0.3rem 0.3rem 0.3rem grey;
    transition: all 0.3s linear 0s;
}

.button:hover {
    cursor: pointer;
    background-color: red;
    border-color: red; 
    transition: all 1s linear 0s;
}

#screen {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 1.2;
    border-style: inset;
    margin: auto;
    width: 27rem;
    height: 7.2rem;
    background-color: grey;
}

.digit {
    position:relative;
    display: flex;
    
    align-items: center;
    justify-content: center;
    padding: auto;
    width: 6.3rem;
    height: 6.3rem;
    text-align: center;
    font-size: 3.6rem;
}

.enterPassword {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content:center;
    background-color:dimgray;
    border: outset;
    border-radius: 1.5rem;
    width: 30rem;
    height: 57rem;
    margin: auto;
}
.enterPassword table{
    margin: auto;
    border-style: inset;
    width: 27rem;
    height: 45rem;
    background-color:grey;
}

.enterPassword td {
    background-color: blue;
    width: 8.4rem;
    height: 8.4rem;
    border-radius: 1.2rem;
    font-size: 4.5rem;
    font-weight: bold;
    text-align: center;
}

.enterPassword td:hover, #enter:hover, #instruction:hover {
    background-color: red;
    cursor: pointer;
}

.enterArrow {
    display: inline-block;
    width: 70%;
    height: 50%;
    clip-path: polygon(0% 80%, 10% 100%, 10% 86%, 100% 86%, 100% 30%, 97% 30%, 97% 74%, 10% 74%, 10% 60%);
    background-color: white;
}

#pillars {
    grid-template: 15rem 10rem 15rem 10rem 15rem / 15rem 1fr 15rem 1fr 15rem;
    width:100%;
    height: 100%;
}

#pillar1 {
    background-color: white;
    grid-area: 1 / 1 / 2 / 2;
}
#pillar2 {
    background-color: white;
    grid-area: 1 / 3 / 2 / 4;
}

#pillar3 {
    background-color: white;
    grid-area: 1 / 5 / 2 / 6;
}
#pillar4 {
    background-color: white;
    grid-area: 3 / 1 / 4 / 2;
}
#pillar5 {
    background-color: white;
    grid-area: 3 / 5 / 4 / 6;
}
#pillar6 {
    background-color: white;
    grid-area: 5 / 1 / 6 / 2;
}
#pillar7 {
    background-color: white;
    grid-area: 5 / 3 / 6 / 4;
}
#pillar8 {
    background-color: white;
    grid-area: 5 / 5 / 6 / 6;
}



#instruction {
    width: 30rem;
    height: 6rem;
    border-radius: 0.3rem;
    margin: 3rem auto;
    background-color: rebeccapurple;
}



@keyframes shake {
    30% {
        left: -1rem;
    }
    70% {
        left: 0.5rem;
    }
    100% {
        left: 0;
    }
}

/*Library*/

#library1 {
    width: 65vw;
    grid-template: 8vh 8vh 8vh / 13vw 13vw 13vw 13vw 13vw;
    margin: 5vh auto;
    font-size: 5vw;
}

#library2 {
    width: 91vw;
    grid-template: 8vh 8vh 8vh / 13vw 13vw 13vw 13vw 13vw 13vw 13vw;
    margin: 5vh auto;
    font-size: 5vw;
}

#library1 div, #library2 div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7vh;
} 

#library1 .border, #library2 .border {
    border: 1px double gold;
    font-size: 5vh;
}

form {
    width: 30vw;
    margin: 5vw auto;
}

input {
    display: block;
    width: 15vw;
    margin: 1vw auto;
    border-color: gold;
    font-size: 1rem;
}

@keyframes correct {
    100% {
        background: rgb(66, 201, 25);
    }
}

@keyframes wrong {
    0% {
        background: red;
    }
    100% {
        background: black;
    }
}

button {
    display: none;
    margin: 0 auto;
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    border: 1px solid gold;
    animation: blink 1.5s infinite;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  @keyframes blink {
    0%{
      opacity: 0.5;
    }
    50%{
      opacity: 1;
    }
    100%{
      opacity: 0.5;
    }
  }
  
  #arrow {
    background: gold;
    width: 100%;
    height: 100%;
    clip-path: polygon(40% 30%, 48% 30%, 74% 50%, 48% 70%, 40% 70%, 66% 50%)
  }
