

body{
  text-align: center;
  background: black;
  font-family: 微軟正黑體, sans-serif;
  color: white;
  height: 90vh;
}

.container{
  display: none;
  flex-direction: column;
  margin: 20vh auto 5vh;
  height: 40vw;
  width: 60vw;
  overflow: hidden;
  position: relative;
}


.dynamic-text{
  position: relative;
  height: 8vw;
  width: 60vw;
  font-size: 6vw;
  white-space: nowrap;
}

.dynamic-text::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left:0;
  background: black;
  animation: typewriter 2s steps(10) forwards;
}

#s1::before {
  animation-delay: 0s;
}
#s2::before {
  animation-delay: 2s;
}
#s3::before {
  animation-delay: 4s;
}
#s4::before {
  animation-delay: 6s;
}
#s5::before {
  animation-delay: 0s;
}
#s6::before {
  animation-delay: 2s;
}

@keyframes typewriter{
  100%{
    left: 100%;
  }
}

button {
  background: black;
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
  border: 1px solid gold;
  animation: blink 2s infinite;
}

button:hover {
  cursor: pointer;
}

@keyframes blink {
  0%{
    opacity: 0.5;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0.5;
  }
}

#arrow {
  background: gold;
  width: 100%;
  height: 100%;
  clip-path: polygon(40% 30%, 48% 30%, 74% 50%, 48% 70%, 40% 70%, 66% 50%)
}




