* {
  --spc: 0.1s; /*second per letter*/
  --cpl: 12; /*character per line*/ 
}


.gold span {
  color: gold;
}

.red span {
  color: rgb(170, 3, 3)
}

.blood span {
  color: red;
}

.blue span {
  color: rgba(27, 27, 199, 0.874)
}

/* English span -- start*/

#gone {
  width: 18vw;
}

#reminiscence {
  width: 36vw;
}

#gmail-text {
  width: 30vw;
}

#gmail {
  width: 54vw;
  font-size: 4.8vw;
}

/* English span -- end*/

a {
  color: cyan;
}

#與我無關 {
  display: none;
}

#book-name {
  display: none;
}

.container{
  display: none;
  flex-direction: column;
  margin: 20vh auto 1vh;
  height: 60vh;
  width: 72vw;
  overflow: hidden;
  position: relative;
}

#p1 {
  display: flex;
}


.dynamic-text{
  display: flex;
  background: black;
  text-align: center;
  position: relative;
  padding: 0;
  width: 72vw;
  font-size: 6vw;
}

span {
  display: inline-block;
  width: 6vw;
}

.dynamic-text::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left:0;
  background: black;
  animation: typewriter calc(var(--cpl)*var(--spc)) steps(var(--cpl)) forwards;
}


.first::before {
  animation-delay: 0s;
}

.second::before {
  animation-delay: calc(var(--spc)*var(--cpl));
}

.third::before {
  animation-delay: calc(var(--spc)*var(--cpl)*2);
}

.fourth::before {
  animation-delay: calc(var(--spc)*var(--cpl)*3);
}


@keyframes typewriter{
  100%{
    left: 100%;
  }
}
